/* Se importa de la api de google para colocar fuente sin decoracion en las letras */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

/* A todos los elementos del HTML se le van a aplicar las siguientes propiedades:
padding: 0 sirve para que no se cree un relleno (espacio alrededor del contenido de un elemento), dentro de los bordes definidos.
margin: 0 se utilizan para que no se cree un margen (espacio alrededor de los elementos), fuera de los bordes definidos.
text-decoration: none facilita que se le quite la decoracion que trae el texto por defecto, debido a que son enlaces
list-style: none quita las viñetas de las listas desordenadas (ul)
box-sizing: border-box le dice al navegador tomar en cuenta para cualquier valor que se especifique en el padding para el ancho o alto de un elemento. 

*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/* Todos los elementos dentro de la etiqueta body van a tener la fuente Montserrat */

body {
    font-family: "Montserrat";
    background-image: url(..//img/fondo.jpg);
}


/* A la etiqueta header se le van a aplicar las siguientes propiedades:
width: 100% es el ancho del elemento que ocupe el 100% de la pagina
height: 100vh, es el alto del elemento, lo usamos en este caso porque queremos que la imagen de fondo ocupe todo el alto de la pantalla. 
background-image: url(fondo.jpg); se define como el fondo en imagen de la pagina, la cual por defecto trae un background-repeat
*/

header {
    width: 100%;
}


/*A la etiqueta nav se le van a aplicar las siguientes propiedades:
height: 100px, alto de la etiqueta, lo usamos en este caso para que la barra de mavegacion ocupe 100px de la pagina web 
width: 100% ancho del contenido que ocupe el 100% de la pagina
display: flex permite que el comportamiento de visualizacion del elemento sea flexible,en donde se puedan alterar sus dimensiones y llenar espacios disponibles
justify-content: space-between permite que los elementos del contenedor tengan espacios entre ellos
align-items: center especifica la alineación centrada de los elementos dentro del contenedor flexible
background: rgba(255, 248, 187, 0.74) define el color fondo de la barra de navegacion, en rgba, la cual, incluye la opacidad del color
padding: 10px sirve para que se cree un relleno (espacio alrededor del contenido de un elemento), dentro de los bordes definidos
*/

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 248, 187, 0.74);
    padding: 10px;
}


/* A la clase logo le colocamos:
width: 140px ancho del contenido que ocupe el 140px de la pagina 
margin-left: 80px se utilizan para que se cree un margen al lado izquierdo (espacio alrededor de los elementos), fuera de los bordes definidos.
*/

.logo {
    width: 140px;
    margin-left: 80px;
}


/*Para la clase nav-menu, incluimos:
position: fixed, especifica como un elemento es posicionado en el documento, es posicionado con relación al contenedor en este caso es nav
width: 100% ancho del contenido que ocupe el 100% de la pagina
background: rgba(255, 248, 187, 0.74) define el color fondo de la barra de navegacion, en rgba, la cual, incluye la opacidad del color 
text-align: center, permite aliar el texto en el centro de su box model
*/

.nav-menu {
    position: fixed;
    width: 100%;
    background: rgba(255, 248, 187, 0.74);
    text-align: center;
}


/*A todos los li que  esten dentro de la clase nav-menu, se les va a aplicar:
display: none, no se aplica ningun tipo de forma para mostrar el texto, sino por defecto
margin: 50px(arriba y abajo) y 0(izquierda y derecha)se utilizan para que no se cree un margen (espacio alrededor de los elementos), fuera de los bordes definidos.
*/

.nav-menu li {
    display: none;
    margin: 50px 0;
}


/*A todos los a (hipervinculos) que esten dentro de los li que  esten dentro de la clase nav-menu, se les va a aplicar:
color: negro, color de la fuente de los hipervinculos
font-size:16px tamaño de la letra de 16px*/

.nav-menu li a {
    color: black;
    font-size: 16px;
}


/* pseudo clase:checked, propia de los input tipo radio o checkbox, va a ser utilizada por todos los hermanos de la clase nav-menu, cuando se seleccione el input 
display: block para que vaya uno debajo del otro*/

#check:checked~.nav-menu li {
    display: block;
}


/* Es un condicional, es para cuando estoy en desktop si el ancho es mayor o igual 768px, las siguientes instrucciones se ejecutan, esto lo hicimos porque teniamos planeado hacerla responsive */

@media screen and (min-width: 768px) {
    .logo {
        margin-left: 80px;
    }
    nav {
        height: 100px;
    }
    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
    }
    .nav-menu li a {
        font-size: 20px;
    }
}


/*A la clase .main-content se le asigna:
padding: 60px sirve para que se cree un relleno (espacio alrededor del contenido de un elemento), dentro de los bordes definidos
background: rgba(255, 255, 255, 0.74) define el color fondo de la barra de navegacion, en rgba, la cual, incluye la opacidad del color 
max-width: 600px un ancho maximo de 600px
margin: 60px(arriba y abajo) y auto(izquierda y derecha) valor por defecto, es para crear un margen (espacio alrededor de los elementos), fuera de los bordes definidos

*/

.main-content {
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.74);
    max-width: 600px;
    margin: 60px auto;
}


/*margin: 30px(arriba y abajo) y auto(izquierda y derecha) valor por defecto,
es para crear un margen (espacio alrededor de los elementos),fuera de los bordes definidos*/

h1,
p {
    margin: 30px auto;
}


/* animacion por fotogramas, 0 es el estado inicial, 50 intermedio, 100 final
instruccion box-shadow: x, y, difuminacion, borde, color */

@keyframes table-animation {
    0% {
        box-shadow: 0 0 0px 0 red;
    }
    50% {
        box-shadow: 0 0 40px 0 green;
    }
    100% {
        box-shadow: 0 0 0px 0 blue;
    }
}


/*Para la clase de la tabla songs-table se define:
margin: 30px, margen hacia arriba, (espacio alrededor de los elementos),fuera de los bordes definidos
background-color: white, define el color de la tabla
border-color: black, se define el color del borde de la tabla
border: 1px solid, permite definir el grosor del borde
border-collapse: collapse; ayuda a eliminar bordes doble que tenga la tabla
animation: table-animation 1s infinite; permite crear animacion de la tabla de forma infinita, se le manda el nombre de la animacion por fotogramas, el tiempo en segundo, y la duracion 
width:100% ancho del contenido que ocupe el 100% de la pagina
*/

.songs-table {
    margin-top: 60px;
    background-color: white;
    border-color: black;
    border: 1px solid;
    border-collapse: collapse;
    animation: table-animation 1s infinite;
    width: 100%;
}


/*Para los td y los th de la clase .songs-table, se define 
border: 1px solid, permite definir el grosor del borde
padding: 8px sirve para que se cree un relleno (espacio alrededor del contenido de un elemento), dentro de los bordes definidos

*/

.songs-table td,
.songs-table th {
    border: 1px solid;
    padding: 8px;
}

iframe {
    margin: 40px 35px;
}